# Predict House Pricing
* Predict house price using regression

<img src="images/home-prices.jpg">

## Dataset - House Sales in King County, USA
* **source:** https://www.kaggle.com/harlfoxem/housesalesprediction
* This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.
* It's a great dataset for evaluating simple regression models.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
house_df = pd.read_csv("datasets/kc_house_data.csv")

house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
house_df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
13204,3575302245,20150423T000000,500000.0,3,3.50,2150,4368,2.0,0,0,...,8,1610,540,1998,0,98074,47.6213,-122.065,2390,16630
21224,5693501028,20150403T000000,610000.0,3,2.50,1300,1331,3.0,0,0,...,8,1300,0,2007,0,98103,47.6607,-122.352,1450,5270
2832,7227801955,20140919T000000,162000.0,4,2.00,1440,7641,1.0,0,0,...,5,1440,0,1943,0,98056,47.5080,-122.183,1440,7750
2078,2618300350,20140718T000000,199000.0,3,1.00,1390,12145,1.0,0,0,...,7,1390,0,1964,0,98042,47.4225,-122.150,1030,10800
17719,7135500120,20140519T000000,572500.0,3,2.25,2030,9791,1.0,0,0,...,8,1500,530,1984,0,98059,47.5340,-122.161,2030,11031

In [5]:
house_df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
house_df.shape

(21613, 21)

In [7]:
house_df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object